<StackLayout>
    <GridLayout columns="auto, auto, *" rows="auto">
        <StackLayout row="0" col="0" class="p-l-5" orientation="horizontal">
            <Label class='fa' [text]="'fa-user' | fonticon"></Label>
            <Label class="name p-r-5" [text]="player.Name"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" class="m-x-auto" orientation="horizontal">
            <Label text=" -  Bureaucracy"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout columns="auto, auto, *" rows="auto" class="">
        <StackLayout orientation="vertical" row="0" col="0" class="p-l-5">
            <StackLayout orientation="horizontal" class="header">
                <Label class='home fa' width="25" [text]="'fa-home' | fonticon"></Label>
                <Label class='' text="Houses powered:  "></Label>
                <TextField class="bordered m-l-10" width="35" [(ngModel)]="housesPowered"></TextField>
            </StackLayout>
            <StackLayout orientation="horizontal" class="pull-right">
                <Label text="Resources used:           "></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="pull-right">
                <TextField class="bordered m-l-10" width="35" [(ngModel)]="coalUsed"></TextField>
                <StackLayout width="75">
                    <Label class="" [text]="player.Coal + '/' + (coalUsed != null ? player.Coal - coalUsed : player.Coal)"></Label>
                    <Label class="coal fa" width="25" [text]="'fa-industry' | fonticon"></Label>
                </StackLayout>
                <TextField class="bordered m-l-10" width="35" [(ngModel)]="oilUsed"></TextField>
                <StackLayout width="75">
                    <Label class="" [text]="player.Oil + '/' + (oilUsed != null ? player.Oil - oilUsed : player.Oil)"></Label>
                    <Label class="oil fa" width="25" [text]="'fa-car' | fonticon"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal" class="pull-right">
                <TextField class="bordered m-l-10" width="35" [(ngModel)]="garbageUsed"></TextField>
                <StackLayout width="75">
                    <Label class="" [text]="player.Garbage + '/' + (garbageUsed != null ? player.Garbage - garbageUsed : player.Garbage)"></Label>
                    <Label class="garbage fa" width="25" [text]="'fa-trash' | fonticon"></Label>
                </StackLayout>
                <TextField class="bordered m-l-10" width="35" [(ngModel)]="uraniumUsed"></TextField>
                <StackLayout width="75">
                    <Label class="" [text]="player.Uranium + '/' + (uraniumUsed != null ? player.Uranium - uraniumUsed : player.Uranium)"></Label>
                    <Label class="uranium fa" width="25" [text]="'fa-exclamation-triangle' | fonticon"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout class="pull-left" orientation="vertical" row="0" col="1">
            <StackLayout orientation="horizontal" class="header">
                <Label class="" [text]="'Electro:  ' + player.Money"></Label>
                <Label class="" [text]="' / ' + getPayout(housesPowered)"></Label>
                <Label class="" [text]="'/ ' + (getPayout(housesPowered) != null ? player.Money + getPayout(housesPowered) : player.Money)"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="header">
                <Button class="btn btn-primary btn-rounded-lg fa green" width="50" [text]="'fa-check' | fonticon" (tap)="close('OK')"></Button>
                <Button class="btn btn-primary btn-rounded-lg fa red" width="50" [text]="'fa-times' | fonticon" (tap)="close('Cancel')"></Button>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>