<StackLayout>
    <StackLayout orientation="horizontal">
        <StackLayout>
            <Label (text)="players[0]"></Label>
            <Label text="Money: $123"></Label>
            <Label text="Resources: 456"></Label>
        </StackLayout>
        <StackLayout>
            <Label (text)="playerTwoName"></Label>
            <Label text="Money: $456"></Label>
            <Label text="Resources: 789"></Label>
        </StackLayout>
        <StackLayout>
            <Label (text)="playerThreeName"></Label>
            <Label text="Money: $987"></Label>
            <Label text="Resources: 320"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <StackLayout>
            <Label (text)="playerFourName"></Label>
            <Label text="Money: $654"></Label>
            <Label text="Resources: 321"></Label>
        </StackLayout>
        <StackLayout>
            <Label (text)="playerFiveName"></Label>
            <Label text="Money: $789"></Label>
            <Label text="Resources: 875"></Label>
        </StackLayout>
    </StackLayout>
</StackLayout>