    <GridLayout columns="*, *, *" rows="*, *, *" horizontal-alignment="center" >
        <playerCard col="0" row="0"></playerCard>
        <label col="1" row="0"></label>
        <playerCard col="2" row="0"></playerCard>
        <label col="0" row="1"></label> 
        <playerCard col="1" row="1"></playerCard>
        <label col="2" row="1"></label>
        <playerCard col="0" row="2"></playerCard>
        <label col="1" row="2"></label>
        <playerCard col="2" row="2"></playerCard>
    </GridLayout>