    <GridLayout columns="*, *, *" rows="*, *, *" horizontal-alignment="center" >
        <playerCard col="0" row="0"></playerCard>
        <button col="1" row="0" text="blank"></button>
        <playerCard col="2" row="0"></playerCard>
        <button col="0" row="1" text="blank"></button> 
        <playerCard col="1" row="1"></playerCard>
        <button col="2" row="1" text="blank"></button>
        <playerCard col="0" row="2"></playerCard>
        <button col="1" row="2" text="blank"></button>
        <playerCard col="2" row="2"></playerCard>
    </GridLayout>