<StackLayout>
    <GridLayout columns="*, *, *" rows="auto">
        <StackLayout row="0" col="0" class="p-l-5" orientation="horizontal">
            <Label class="name p-r-5" [text]="player.Name"></Label>
            <Label class='fa' [text]="'fa-user' | fonticon"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" class="m-x-auto" orientation="horizontal">
            <Label text="Buy Power Plant"></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout class="m-x-auto" orientation="vertical">
        <Label [text]="'Total Electro ' + player.Money"></Label>
        <StackLayout orientation="horizontal">
            <Label class="divider" text="Power Plant Cost"></Label>
            <TextField [greaterThan]="0" [lessThanOrEqual]="player.Money" required class="bordered m-l-10" width="35" [(ngModel)]="price" #plantPrice="ngModel"></TextField>
        </StackLayout>
        <Label [text]="'Electro Balance ' + (price != null ? player.Money - price : player.Money)"></Label>
        <StackLayout orientation="horizontal">
            <Button class="btn btn-primary btn-rounded-lg fa green" width="50" [text]="'fa-check' | fonticon" (tap)="close('OK')" 
                [isEnabled]="plantPrice.valid"
                [class.disabled]="!plantPrice.valid"></Button>
            <Button class="btn btn-primary btn-rounded-lg fa red" width="50" [text]="'fa-times' | fonticon" (tap)="close('Cancel')"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>