<StackLayout>
    <ScrollView>
        <StackLayout>
            <Label text="Power Grid Scoreboard"></Label>
            <StackLayout class="form m-x-auto" [orientation]="landscape ? 'horizontal' : 'vertical'">
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
                        <Label class="label-active" text="Player 1"></Label>
                    </StackLayout>
                    <TextField class="input" hint="enter name" [(ngModel)]="playerOne"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class="fa" [text]="'fa-user' | fonticon" (tap)="onPlayerTwoTap()"></Label>
                        <Label class="label-active" text="Player 2"></Label>
                    </StackLayout>
                    <TextField class="input" visibility="visible" hint="enter name" [(ngModel)]="playerTwo"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label [class]="hasPlayerThree ? 'fa' : 'fa disabled'" [text]="'fa-user' | fonticon" (tap)="onPlayerThreeTap()"></Label>
                        <Label [class]="hasPlayerThree ? 'label-active' : 'label'" text="Player 3"></Label>
                    </StackLayout>
                    <TextField class="input" [visibility]="hasPlayerThree ? 'visible' : 'collapsed'" hint="enter name" [(ngModel)]="playerThree"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label [class]="hasPlayerFour ? 'fa' : 'fa disabled'" [text]="'fa-user' | fonticon" (tap)="onPlayerFourTap()"></Label>
                        <Label [class]="hasPlayerFour ? 'label-active' : 'label'" text="Player 4"></Label>
                    </StackLayout>
                    <TextField class="input" [visibility]="hasPlayerFour ? 'visible' : 'collapsed'" hint="enter name" [(ngModel)]="playerFour"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label [class]="hasPlayerFive ? 'fa' : 'fa disabled'" [text]="'fa-user' | fonticon" (tap)="onPlayerFiveTap()"></Label>
                        <Label [class]="hasPlayerFive ? 'label-active' : 'label'" text="Player 5"></Label>
                    </StackLayout>
                    <TextField class="input" [visibility]="hasPlayerFive ? 'visible' : 'collapsed'" hint="enter name" [(ngModel)]="playerFive"></TextField>
                </StackLayout>
            </StackLayout>
            <StackLayout class="m-x-auto" orientation="horizontal">
                <Button text="Play!" (tap)="onPlayTap()" class="btn btn-primary btn-rounded-lg"></Button>
                <Button text="Continue" [visibility]="continueGame ? 'visible' : 'collapsed'" (tap)="onContinueTap()" class="btn btn-primary btn-rounded-lg"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>