<StackLayout>
    <ScrollView>
        <StackLayout>
            <Label text="Power Grid Scoreboard"></Label>
            <StackLayout class="form" [orientation]="landscape ? 'horizontal' : 'vertical'">
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
                    <Label class="label" text="Player 1"></Label>
                    </StackLayout>
                    <TextField class="input" hint="enter name" [(ngModel)]="playerOne"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
                    <Label class="label" text="Player 2"></Label>
                    </StackLayout>
                    <TextField class="input" hint="enter name" [(ngModel)]="playerTwo"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
                    <Label class="label" text="Player 3"></Label>
                    </StackLayout>
                    <TextField class="input" hint="enter name" [(ngModel)]="playerThree"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
                    <Label class="label" text="Player 4"></Label>
                    </StackLayout>
                    <TextField class="input" hint="enter name" [(ngModel)]="playerFour"></TextField>
                </StackLayout>
                <StackLayout class="input-field">
                    <StackLayout orientation="horizontal">
                        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
                    <Label class="label" text="Player 5"></Label>
                    </StackLayout>
                    <TextField class="input" hint="enter name" [(ngModel)]="playerFive"></TextField>
                </StackLayout>
            </StackLayout>
            <StackLayout class="m-x-auto">
                <Button text="Play!" (tap)="onTap()" class="btn btn-primary btn-rounded-lg"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>