.name {
    
    font-size: 12px;
}

.money {
    color: green;
}

.border {
    border-color: #000000;
    border-width: 2px;
}

.coal {
    color: brown;
}

.oil {
    color: darkgrey;
}

.garbage {
    color: #f4b642;
}

.uranium {
    color: red;
}