<StackLayout class="border">
    <StackLayout orientation="horizontal">
        <Label class="name p-r-5" [text]="player.Name"></Label>
        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class='money fa' width="25" [text]="'fa-money' | fonticon"></Label>
        <Label class="p-l-5" width="60" [text]="player.Money"></Label>
        <Label class='coal fa' width="25" [text]="'fa-industry' | fonticon"></Label>
        <Label class="resources p-l-5" width="60" [text]="player.Coal"></Label>
        <Label class='oil fa' width="25" [text]="'fa-car' | fonticon"></Label>
        <Label class="resources p-l-5" width="60" [text]="player.Oil"></Label>                
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class='garbage fa' width="25" [text]="'fa-trash' | fonticon"></Label>
        <Label class="resources p-l-5" width="60" [text]="player.Garbage"></Label>
        <Label class='uranium fa' width="25" [text]="'fa-exclamation-triangle' | fonticon"></Label>
        <Label class="resources p-l-5" width="60" [text]="player.Uranium"></Label>
        <Label class='fa' width="25" [text]="'fa-home' | fonticon"></Label>
        <Label class="resources p-l-5" width="60" [text]="player.Houses"></Label>
    </StackLayout>
    <GridLayout rows="auto" columns="*,*,*,*">
        <Button class="btn power fa" [text]="'fa-bolt' | fonticon" row="0" col="0" (tap)="buyPower()"></Button>
        <Button class="btn raw fa" [text]="'fa-coffee' | fonticon" row="0" col="1" (tap)="buyResources()"></Button>
        <Button class="btn build fa" [text]="'fa-bank' | fonticon" row="0" col="2" (tap)="buildHouses()"></Button>
        <Button class="btn bureaucracy fa" [text]="'fa-usd' | fonticon" row="0" col="3" (tap)="bureaucracy()"></Button>            
    </GridLayout>
</StackLayout>