.name {
    
    font-size: 12px;
}

.money {
    color: green;
}

.border {
    border-color: #888888;
    border-width: 1px;
    border-radius: 6px;
    box-shadow: 100px 100px 50px lightgray;
}

.coal {
    color: brown;
}

.oil {
    color: darkgrey;
}

.garbage {
    color: #f4b642;
}

.uranium {
    color: red;
}