<StackLayout class="border" height="150">
    <StackLayout orientation="horizontal">
        <Label class='fa' [text]="'fa-user' | fonticon"></Label>
        <Label class="name" text="Player 1"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class='fa' [text]="'fa-money' | fonticon"></Label>
        <Label class="money" text="Money: $5,000"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        
        <Label class="resources" text="Coal: 15"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        
        <Label class="resources" text="Oil: 5"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        
        <Label class="resources" text="Garbage: 2"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        
        <Label class="resources" text="Uranium: 1"></Label>
    </StackLayout>
</StackLayout>