.name {
    
    font-size: 18px;
}

.money {
    color: green;
}

.border {
    border-color: #888888;
    border-width: 2px;
    border-radius: 6px;
    box-shadow: 100px 100px 50px lightgray;
}

.coal {
    color: brown;
}

.oil {
    color: #888888;
}

.garbage {
    color: #f4b642;
}

.uranium {
    color: red;
}

.power {
  font-size: 10px;
}

.raw {
  font-size: 10px;
}

.build {
  font-size: 10px;
}

.bureaucracy {
  font-size: 10px;
}