.divider {
    border-bottom-width: 1;
    border-bottom-color: #cfcfcf;
    border-bottom-style: solid;
}

.bordered {
    border-width: 1;
    border-color: #000000;
}

.header {
    padding-bottom: 25;
    padding-top: 25;
    padding-right: 25;
    padding-left: 25;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.disabled {
    opacity: .5;
}