<StackLayout>
     <GridLayout columns="*, *, *" rows="auto">
        <StackLayout row="0" col="0" class="p-l-5" orientation="horizontal">
            <Label class="name p-r-5" [text]="player.Name"></Label>
            <Label class='fa' [text]="'fa-user' | fonticon"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" class="m-x-auto" orientation="horizontal">
            <Label text="Build Houses!"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout columns="20, *, 20, *, 20" rows="auto">
        <StackLayout row="0" col="1" class="pull-right" orientation="vertical">
                <Label [text]="'Current Houses ' + player.Houses"></Label>
            <StackLayout orientation="horizontal">
                <Label class="divider" text="Houses to Buy"></Label>
                <TextField class="bordered m-l-10" width="25" [(ngModel)]="houseQuantity"></TextField>
            </StackLayout>
            <Label [text]="totalHouses()"></Label>
            <Button class="btn btn-primary btn-rounded-lg" text="ok" (tap)="close('OK')"></Button>
        </StackLayout>
        <StackLayout row="0" col="3" class="pull-left" orientation="vertical">
            <Label [text]="'Total Electro ' + player.Money"></Label>
            <StackLayout orientation="horizontal">
                <Label class="divider" text="House(s) Cost"></Label>
                <TextField class="bordered m-l-10" width="25" [(ngModel)]="housePrice"></TextField>
            </StackLayout>
            <Label [text]="'Electro Balance ' + (housePrice != null ? player.Money - housePrice : player.Money)"></Label>
            <Button class="btn btn-primary btn-rounded-lg" text="cancel" (tap)="close('Cancel')"></Button>
        </StackLayout>
    </GridLayout>        
</StackLayout>